Code/
Thunar/
dconf/
flameshot/
go/
gtk-3.0/
gtk-4.0/
libfm/
mozilla/
nvim/
nwg-look/
pcmanfm/
pulse/
session/
systemd/
xfce4/
xsettingsd/
atuin/
fish/
gthumb/
QtProject.conf
user-dirs.dirs
user-dirs.locale
pavucontrol.ini
dolphinrc
trashrc
filetypesrc
mimeapps.list
